@model AppUser

@{
    ViewData["Title"] = "Driver Profile";
}

<h2>@(Model != null && Model.DriverId != null ? "Edit" : "New") user profile</h2>
<h4>Driver: @ViewData["FullName"]</h4>
<hr />
<div class="row">
    <form asp-action="DriverProfile" method="post">
        <div class="col-md-12">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group" hidden>
                <input name="DriverId" class="form-control" value="@(Model != null ? Model.DriverId : @ViewData["DriverId"])" hidden />
            </div>
            <div class="form-group">
                <label for="Id">User ID</label>
                <input asp-for="Id" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label for="PasswordHash">Hashed Password</label>
                <input asp-for="PasswordHash" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label for="Email">Email Address</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input name="Password" class="form-control" />
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="@(Model != null && Model.DriverId != null ? "Save" : "Create New")" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-controller="Drivers" asp-action="Index">Back to Drivers</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


